html, body {
    font-family: Lato, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar-default {
    background-color: #222222;
}
.navbar-default .navbar-nav li a {
    color: #EEEEEE;
}
.navbar-default .navbar-nav .active a {
    background-color: #444444;
    color: #EEEEEE;
}
.navbar-default .navbar-nav li a:hover {
    color: #999999;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #444444;
    color: #000000;
}
.navbar-default .navbar-brand {
    color: tomato;
}
.content {
    margin-top: 50px;
}

/* Input glow */

.form-control:focus {
    border-color: #999999;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(200, 200, 200, 0.6);
}

/* Buttons */

.btn-default:active {
    box-shadow: tomato;
}
.create-button {
    float: right;
}

/* Client's project list*/

.project-list-title {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cake-debug {
    margin-top: 200px;
}

/* Map */

#map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Client index list */

.glyphicon:before {
    padding-right: 1rem;
}
.project-counter-element {
    font-size: 1.5rem;
    font-weight: bold;
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 1.5rem;
    line-height: 6rem;
    background-color: rgba(100, 100, 100, 0.1);
}
.list-element {
    padding-left: 0;
}

/* Headings */

h1 {
    font-family: Oswald, Arial, sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
h2, h3, h4 {
    font-family: Oswald, Arial, sans-serif;
}
