html, body {
    font-family: Lato, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar-default {
    background-color: #222222;
}
.navbar-default .navbar-nav li a {
    color: #EEEEEE;
}
.navbar-default .navbar-nav .active a {
    background-color: #444444;
    color: #EEEEEE;
}
.navbar-default .navbar-nav li a:hover {
    color: #999999;
}
.navbar-default .navbar-brand {
  color: tomato;
}
.content {
    margin-top: 50px;
}
#map {
  height: 100%;
}
